body{
          background: black;
}

h1{
          color: azure;
}

#container{
          position: absolute;
          width: 100%;
          min-height: 100%;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          place-items: center;
          flex-wrap: wrap;
          gap: 30px;
}

#container div{
          width: 150px;
          height: 150px;
          background: seagreen;
}

#container div[name=saba]{
          background: violet;
}

#container div[id=text]{
          background:rgb(219, 219, 219);
}