body{
          background-color: rgb(72, 71, 71);
}

#container{
          position:absolute;
          width: 100%;
          min-height: 100%;
          left: 0;
          top: 0;
          background-color: rgb(47, 30, 154);
          display: grid;
          grid-template-columns: /*300px 300px 300px*/ repeat(2, 1fr);
          grid-template-rows: /*300px 300px 300px*/ repeat(3, 1fr);
          justify-content: center;
}
#item{
          position: relative;
          width: 250px;
          height: 250px;
          background-color: rgb(241, 240, 240);
          border: 2px solid rgb(0, 0, 0);
}

#item p{
          position: absolute;
          width: 50%;
          left: 25%;
          height: 50%;
          top: 25%;
          text-align: center;
          color: black;
}