body{
          background: black;
}

h1{
          color: whitesmoke;
}

#container{
          position: absolute;
          width: 100%;
          min-height: 100%;
          left: 0;
          top: 0;
          display: flex;
          justify-content: center;
          place-items: center;
          flex-wrap: wrap;
          gap: 30px;
}

#container div{
          position: relative;
          width: 150px;
          height: 150px;
          background: royalblue;
}

#container div::after{
          content: "سلام من صباهستم";
          position: absolute;
          left: 0;
          top: -50%;
          width: 100%;
          height: 50%;
          background: rgb(255, 228, 233);
          display: flex;
          justify-content: center;
          place-items: center;
          
}