.city{
          background-color: tomato;
          color: white;
          border: 2px solid black;
          margin: 20px;
          padding: 20px;
}

.city1{
          background-color: rgb(16, 91, 16);
          color: white;
          padding: 10px;

}

#myHeader{
          background-color: rgb(115, 115, 224);
          color: black;
          padding: 20px;
          text-align: center;
}