body{
          background-color: black;
}

#container{
          position: absolute;
          width: 100%;
          min-height: 100%;
          left: 0;
          top: 0;
          display: flex;
          justify-content: center;
          place-items: center;
          flex-wrap: wrap;
          gap: 30px;
}

#container div{
          width: 150px;
          height: 150px;
          background: violet;
}

/*#container div:first-child{
          background: blue;
}

#container div:last-child{
          background: rgb(77, 102, 25);
}
#container div:nth-child(3){
          background: teal;
}*/

#container div:nth-child(odd){
          background: rgb(103, 126, 255);
}

#container div:nth-child(event){
          background: rgb(162, 18, 71);
}

h1{
          color: aliceblue;
}