body{
          background-image: url(photo/IMG_1664.JPG);
          height: 200vh;

          background-size: 25%;
          background-attachment: fixed;
          /*background-attachment: scroll;*/
          background-position: center;
          background-repeat: no-repeat;

         /* background-image:linear-gradient(45deg,blue,red)*/
}