<<<<<<< HEAD
body{
          background-color: #0a222f;
}

div{
          
          border: 4px solid rgb(215, 103, 12);
          background-color: rgb(16, 15, 15);
          color: aliceblue;
          padding-top: 50px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-left: 80px;
          text-align: center;
          font-size: 20px;
}

#text{
          border: 2px solid rgb(212, 36, 36);
          background-color: rgb(77, 137, 77);
          padding: 25px 50px 75px 100px;
          font-size: 20px;
}

#text1{
          border: 2px solid rgb(241, 7, 89);
          padding: 25px 50px 75px;
          background-color: aliceblue;
          color: rgb(79, 118, 0);
}

#text2{
          border: 2px solid rgb(223, 209, 23);
          padding: 25px 50px;
          color: rgb(4, 3, 3);
          background-color: rgb(113, 106, 106);
}

#text3{
          border: 3px solid black;
          padding: 25px;
          background-color: rgb(2, 165, 219);
=======
body{
          background-color: #0a222f;
}

div{
          
          border: 4px solid rgb(215, 103, 12);
          background-color: rgb(16, 15, 15);
          color: aliceblue;
          padding-top: 50px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-left: 80px;
          text-align: center;
          font-size: 20px;
}

#text{
          border: 2px solid rgb(212, 36, 36);
          background-color: rgb(77, 137, 77);
          padding: 25px 50px 75px 100px;
          font-size: 20px;
}

#text1{
          border: 2px solid rgb(241, 7, 89);
          padding: 25px 50px 75px;
          background-color: aliceblue;
          color: rgb(79, 118, 0);
}

#text2{
          border: 2px solid rgb(223, 209, 23);
          padding: 25px 50px;
          color: rgb(4, 3, 3);
          background-color: rgb(113, 106, 106);
}

#text3{
          border: 3px solid black;
          padding: 25px;
          background-color: rgb(2, 165, 219);
>>>>>>> 2fbbc79ce786f5c45fca4d7cb12910fa4f8c277d
}