body{
          background: rgb(0, 0, 0);
}

#container{
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          display: block;
}

#container #header{
          position: relative;
          width: 100%;
          height: 100vh;
          left: 0;
          top: 0;
          background-size: 480px;
          background-image: url(../wallpaper/web.JPG);
          background-repeat: no-repeat;
          background-position: right;
          background-attachment: local;
}

#container #header nav{
          position: absolute;
          left: 0;
          top: 0;
          height: 8%;
          width: 100%;
          background-color: rgb(255, 255, 255);
          display: flex;
          justify-content: start;
          place-items: center;
          flex-direction: row;
}
