body{
          margin: 0;
          padding: 0;
          height: 100vh;
          display: flex;
          justify-content: center;
          place-items: center;
        
}


div{
      width: 300px;
      height: max-content;
      background: orange;
}

/*div:nth-child(1){
          z-index: 1;
}

div:nth-child(2){
          background: rgb(35, 77, 19);
          z-index: 1;
}
*/