body{
          background-color: rgb(0, 0, 0);
}

#container{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          min-height: 100%;
          display: flex;
          justify-content: center;
          place-items: center;
          color: antiquewhite;
          gap: 10px;
          flex-direction: row-reverse;
}

#container img{
          width: 500px;
          height: 500px;
          filter: drop-shadow(0 0 20px rgb(249, 225, 225));
}

#container1 h1{
          color: aliceblue;
          text-align: center;
          font-size: 70px;
          box-shadow: 0 0 20px rgb(182, 227, 114);
}

h1{
          text-shadow: 0 5px 15px red;
}