body{
          background: whitesmoke;
}

#container{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          min-height: 100%;
}

header{
          position: relative;
          left: 0;
          top: 0;
          width: 100%;
          min-height: 100%;
          background: black;
          display: flex;
          justify-content: end;
          gap: 60px;
          place-items: center;
}

#right ,#left{
          position: relative;
          width: 50%;
          height: 100%;
}

#right{
          display: flex;
          justify-content: space-around;
          place-items: center;
}
#left{
          display: flex;
          justify-content: start;
          place-items: center;
          gap: 10px ;
}
#left img{
          width: 120px;
          padding: 5px 10px ;
          border-radius: 20px;
}

a{
          color: aliceblue;
          font-family: sans-serif;
          text-decoration: none;
}

main{
          position: relative;
          width: 100%;
          min-height: 500px;
          display: flex;
          justify-content: center;
          place-items: center;
          flex-direction: row;
          /*flex-wrap: wrap;*/
          gap: 30px;
}

main div{
          position: relative;
          background: rgb(71, 91, 188);
          border-radius: 10px;
          height: 300px;
          width: 450px;
          margin-top: 30px;
}

@media  only screen and (max-width: 1000px) {
          
          header{
                    position: relative;
                    left: 0;
                    top: 0;
                    width: 100%;
                    min-height: 100%;
                    background: black;
                    display: flex;
                    justify-content: end;
                    gap: 60px;
                    place-items: center;
          }
          
          #right ,#left{
                    position: relative;
                    width: 50%;
                    height: 100%;
          }
          
          #right{
                    display: flex;
                    justify-content: space-around;
                    place-items: center;
          }
          #left{
                    display: flex;
                    justify-content: start;
                    place-items: center;
                    gap: 10px ;
          }
          #left img{
                    width: 120px;
                    padding: 5px 10px ;
                    border-radius: 20px;
          }
          
          a{
                    color: aliceblue;
                    font-family: sans-serif;
                    text-decoration: none;
          }
          
          main{
                    position: relative;
                    width: 100%;
                    min-height: 500px;
                    display: flex;
                    justify-content: center;
                    place-items: center;
                    flex-direction: row;
                    /*flex-wrap: wrap;*/
                    gap: 30px;
          }
          
          main div{
                    position: relative;
                    background: rgb(71, 91, 188);
                    border-radius: 10px;
                    height: 300px;
                    width: 450px;
                    margin-top: 30px;
          }
}