body{
          background: black;
}

#container{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          min-height: 100%;
          display: block;
}

header{
          position: relative;
          width: 100%;
          height: 200px;
          background: rgb(255, 113, 191);
}

main{
          position: relative;
          width: 100%;
          height: 600px;
          background: rgb(38, 38, 38);
}

main span{
          display: flex;
          justify-content: center;
          place-items: center;
          color: aliceblue;
          font-size: 70px;
}

footer{
          position: relative;
          width: 100%;
          height: 200px;
          background: blue;
}