
body{
          background-color: black;
         /* 
          background-size: cover;
          background-size: contain;
          background-size: auto;

          background-position: center;
          background-position: auto;
          background-position: center;

          background-attachment: fixed;
          background-attachment: local;
          background-attachment: scroll;

          background-repeat: no-repeat;*/



          /*background-color: rgb(69, 65, 65);
          background-image: url(photo/azadi.JPG);
          background-position: center;
          background-size: 26%;
          background-attachment: fixed;
          background-repeat: no-repeat;*/

          
}

#container{
          
          position: absolute;
          top: 0;
          left: 0;
          min-height: 100%;
          width: 100%;
          /*display: flex;
          justify-content: center;
          place-items: center;*/

}

div{
          color: aliceblue;
          margin-top: 80px;
          margin-bottom: 100px;
          margin-left: 80px;
          margin-right: 150px;
          border: 2px solid rgb(168, 147, 225);
}

#text{
        border: 1px solid white;
        margin: 25px 50px 75px ;
        border: 2px solid blueviolet;
}

#text2{
          border: 1px solid rgb(41, 41, 228);
          margin: 25px 50px;
}

#text3{
          border: 1px solid darkgreen;
          margin: 25px;
}

h1{
          color: rgb(182, 8, 8);
          margin: 0 0 50px 0;
}

h2{
          margin: 100px 0 0 0;
          color: violet;

}